<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"type="text/css"href="{{url_for('static',filename='css/style.css')}}">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body class="bg-nav">
    <nav class ="navbar ">
        <a href=""class="navbar-brand text-light">DreamHome</a>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>

<body class="bg-nav">


    <header class="header" id="header">
      <div class="navigation">
        <div class="nav-center container d-flex">
          <a href="/" class="logo"><h1>DREAM HOME</h1></a>





          <ul class="nav-list d-flex">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="Login" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
              <a href="AddtoMail" class="nav-link">AddtoMail</a>
            </li>
            <li class="nav-item">
              <a href="BookView" class="nav-link">BookView</a>
            </li>
            <li class="nav-item">
              <a href="Rentals" class="nav-link">Rentals</a>
            </li>
            <li class="nav-item">
              <a href="Regional" class="nav-link">Regional</a>
            </li>
          </ul>

          <div class="hamburger">
            <i class="bx bx-menu-alt-left"></i>
          </div>
        </div>
      </div>



     <!-- <nav class ="navbar ">
        <a href=""class="navbar-brand text-light">DreamHome</a>
    </nav> -->
</html>
    <div class="container">
      <div class="row">
          <div class="col-md-8">
              <h1 class="text-light display-4 mt-100" style="font-size:80px"> Find your Home with the people you trust </h1class>

          </div>
          <div class="col-md-4">
              <div class="card mt-100">
                  <form class="form">
                      <label>FirstName</label><br>
                      <input type="text" class="form-control"><br>

                      <label>LastName</label><br>
                      <input type="text" class="form-control"><br>
                      <label>TelNo</label><br>
                      <input type="text" class="form-control"><br>
                      <label>Street</label><br>
                      <input type="text" class="form-control"><br>
                      <label>City</label><br>
                      <input type="text" class="form-control"><br>
                      <label>Postcode</label><br>
                      <input type="text" class="form-control"><br>
                      <label>Email</label><br>
                      <input type="text" class="form-control"><br>
                      <label>Date</label><br>
                      <input type="text" class="form-control"><br>
                      <label>Region</label><br>
                      <input type="text" class="form-control"><br>
                      <label>Pretype</label><br>
                      <input type="email" class="form-control"><br>
                      <label>maxrent</label><br>
                      <input type="password" class ="form-control"><br><br>
                      <input type="submit" class ="btn btn-primary btn-block btn lg" value="login">
                  </form
                  <p class="mt-2" > Already a member? <a href= "#" > Login Here</a> </p>
              </div>
          </div>
      </div>
    </div>